Repository MahApps/MahApps.Metro.IconPacks, pull requests merged in 2020-10, with the labels that each got.

#222 (GH-221) Add Pixelarticons v1.2.0
  README.md
  src/MahApps.Metro.IconPacks.Browser/Styles/CustomTabControl.xaml
  src/MahApps.Metro.IconPacks.Browser/ViewModels/MainViewModel.cs
  src/MahApps.Metro.IconPacks.sln
  src/MahApps.Metro.IconPacks/Converter/PackIconPixelartIconsKindToImageConverter.cs
  src/MahApps.Metro.IconPacks/MahApps.Metro.IconPacks.PixelartIcons.csproj
  src/MahApps.Metro.IconPacks/MahApps.Metro.IconPacks.csproj
  src/MahApps.Metro.IconPacks/PackIconControlDataFactory.cs
  src/MahApps.Metro.IconPacks/PackIconExtension.cs
  src/MahApps.Metro.IconPacks/PackIconImageExtension.cs
  src/MahApps.Metro.IconPacks/PackIconPixelartIcons.cs
  src/MahApps.Metro.IconPacks/PackIconPixelartIconsDataFactory.cs
  src/MahApps.Metro.IconPacks/PackIconPixelartIconsExtension.cs
  src/MahApps.Metro.IconPacks/PackIconPixelartIconsImageExtension.cs
  src/MahApps.Metro.IconPacks/PackIconPixelartIconsKind.cs
  src/MahApps.Metro.IconPacks/PathIconPixelartIcons.cs
  src/MahApps.Metro.IconPacks/Properties/MahApps.Metro.IconPacks.PixelartIcons.rd.xml
  src/MahApps.Metro.IconPacks/Themes/UAP/IconPacks.xaml
  src/MahApps.Metro.IconPacks/Themes/UAP/PackIconPixelartIcons.xaml
  src/MahApps.Metro.IconPacks/Themes/UAP/PixelartIcons/Generic.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/IconPacks.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/PackIconPixelartIcons.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/PixelartIcons/Generic.xaml
Labels: Icon Update

#224 (GH-223) Update Simple Icons to v3.10.0
  README.md
  src/MahApps.Metro.IconPacks/PackIconSimpleIconsDataFactory.cs
  src/MahApps.Metro.IconPacks/PackIconSimpleIconsKind.cs
Labels: Icon Update

#220 AdvancedFiltering
  src/MahApps.Metro.IconPacks.Browser/Styles/CustomTabControl.xaml
  src/MahApps.Metro.IconPacks.Browser/ViewModels/IconPackViewModel.cs
Labels: Enhancement

#229 Add RemixIcon v2.5.0
  README.md
  src/MahApps.Metro.IconPacks.Browser/Styles/CustomTabControl.xaml
  src/MahApps.Metro.IconPacks.Browser/ViewModels/MainViewModel.cs
  src/MahApps.Metro.IconPacks.sln
  src/MahApps.Metro.IconPacks/Converter/PackIconKindToImageConverter.cs
  src/MahApps.Metro.IconPacks/Converter/PackIconRemixIconKindToImageConverter.cs
  src/MahApps.Metro.IconPacks/MahApps.Metro.IconPacks.RemixIcon.csproj
  src/MahApps.Metro.IconPacks/MahApps.Metro.IconPacks.csproj
  src/MahApps.Metro.IconPacks/PackIconControlDataFactory.cs
  src/MahApps.Metro.IconPacks/PackIconExtension.cs
  src/MahApps.Metro.IconPacks/PackIconImageExtension.cs
  src/MahApps.Metro.IconPacks/PackIconRemixIcon.cs
  src/MahApps.Metro.IconPacks/PackIconRemixIconDataFactory.cs
  src/MahApps.Metro.IconPacks/PackIconRemixIconExtension.cs
  src/MahApps.Metro.IconPacks/PackIconRemixIconImageExtension.cs
  src/MahApps.Metro.IconPacks/PackIconRemixIconKind.cs
  src/MahApps.Metro.IconPacks/PathIconRemixIcon.cs
  src/MahApps.Metro.IconPacks/Properties/MahApps.Metro.IconPacks.RemixIcon.rd.xml
  src/MahApps.Metro.IconPacks/Themes/UAP/IconPacks.xaml
  src/MahApps.Metro.IconPacks/Themes/UAP/PackIconRemixIcon.xaml
  src/MahApps.Metro.IconPacks/Themes/UAP/RemixIcon/Generic.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/IconPacks.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/PackIconControl.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/PackIconRemixIcon.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/RemixIcon/Generic.xaml
Labels: Icon Update

#231 Add meta data to PackIcon classes
  src/MahApps.Metro.IconPacks.Core/Attributes/MetaDataAttribute.cs
  src/MahApps.Metro.IconPacks.Core/MahApps.Metro.IconPacks.Core.csproj
  src/MahApps.Metro.IconPacks/PackIconBoxIcons.cs
  src/MahApps.Metro.IconPacks/PackIconBoxIconsImageExtension.cs
  src/MahApps.Metro.IconPacks/PackIconEntypo.cs
  src/MahApps.Metro.IconPacks/PackIconEntypoImageExtension.cs
  src/MahApps.Metro.IconPacks/PackIconEvaIcons.cs
  src/MahApps.Metro.IconPacks/PackIconEvaIconsImageExtension.cs
  src/MahApps.Metro.IconPacks/PackIconFeatherIcons.cs
  src/MahApps.Metro.IconPacks/PackIconFeatherIconsImageExtension.cs
  src/MahApps.Metro.IconPacks/PackIconFontAwesome.cs
  src/MahApps.Metro.IconPacks/PackIconFontAwesomeImageExtension.cs
  src/MahApps.Metro.IconPacks/PackIconJamIcons.cs
  src/MahApps.Metro.IconPacks/PackIconJamIconsImageExtension.cs
  src/MahApps.Metro.IconPacks/PackIconMaterial.cs
  src/MahApps.Metro.IconPacks/PackIconMaterialDesign.cs
  src/MahApps.Metro.IconPacks/PackIconMaterialDesignImageExtension.cs
  src/MahApps.Metro.IconPacks/PackIconMaterialImageExtension.cs
  src/MahApps.Metro.IconPacks/PackIconMaterialLight.cs
  src/MahApps.Metro.IconPacks/PackIconMaterialLightImageExtension.cs
  src/MahApps.Metro.IconPacks/PackIconMicrons.cs
  src/MahApps.Metro.IconPacks/PackIconMicronsImageExtension.cs
  src/MahApps.Metro.IconPacks/PackIconModern.cs
  src/MahApps.Metro.IconPacks/PackIconModernImageExtension.cs
  src/MahApps.Metro.IconPacks/PackIconPicolIcons.cs
  src/MahApps.Metro.IconPacks/PackIconPicolIconsImageExtension.cs
  src/MahApps.Metro.IconPacks/PackIconPixelartIcons.cs
  src/MahApps.Metro.IconPacks/PackIconPixelartIconsImageExtension.cs
  src/MahApps.Metro.IconPacks/PackIconRPGAwesome.cs
  src/MahApps.Metro.IconPacks/PackIconRPGAwesomeImageExtension.cs
  src/MahApps.Metro.IconPacks/PackIconRemixIcon.cs
  src/MahApps.Metro.IconPacks/PackIconRemixIconImageExtension.cs
  src/MahApps.Metro.IconPacks/PackIconSimpleIcons.cs
  src/MahApps.Metro.IconPacks/PackIconSimpleIconsImageExtension.cs
  src/MahApps.Metro.IconPacks/PackIconTypicons.cs
  src/MahApps.Metro.IconPacks/PackIconTypiconsImageExtension.cs
  src/MahApps.Metro.IconPacks/PackIconWeatherIcons.cs
  src/MahApps.Metro.IconPacks/PackIconWeatherIconsImageExtension.cs
  src/MahApps.Metro.IconPacks/PackIconZondicons.cs
  src/MahApps.Metro.IconPacks/PackIconZondiconsImageExtension.cs
Labels: Enhancement

#228 Implement Hyperlink to the currents IconPack Website
  src/MahApps.Metro.IconPacks.Browser/Styles/CustomTabControl.xaml
  src/MahApps.Metro.IconPacks.Browser/ViewModels/IconPackViewModel.cs
  src/MahApps.Metro.IconPacks.Browser/ViewModels/MainViewModel.cs
Labels: Enhancement

#234 Add Radix Icons v3.0.0
  README.md
  src/MahApps.Metro.IconPacks.Browser/Styles/CustomTabControl.xaml
  src/MahApps.Metro.IconPacks.Browser/ViewModels/MainViewModel.cs
  src/MahApps.Metro.IconPacks.sln
  src/MahApps.Metro.IconPacks/Icons/RadixIcons/PackIconRadixIcons.cs
  src/MahApps.Metro.IconPacks/Icons/RadixIcons/PackIconRadixIconsDataFactory.cs
  src/MahApps.Metro.IconPacks/Icons/RadixIcons/PackIconRadixIconsExtension.cs
  src/MahApps.Metro.IconPacks/Icons/RadixIcons/PackIconRadixIconsImageExtension.cs
  src/MahApps.Metro.IconPacks/Icons/RadixIcons/PackIconRadixIconsKind.cs
  src/MahApps.Metro.IconPacks/Icons/RadixIcons/PackIconRadixIconsKindToImageConverter.cs
  src/MahApps.Metro.IconPacks/Icons/RadixIcons/PathIconRadixIcons.cs
  src/MahApps.Metro.IconPacks/MahApps.Metro.IconPacks.RadixIcons.csproj
  src/MahApps.Metro.IconPacks/MahApps.Metro.IconPacks.csproj
  src/MahApps.Metro.IconPacks/PackIconControlDataFactory.cs
  src/MahApps.Metro.IconPacks/PackIconExtension.cs
  src/MahApps.Metro.IconPacks/PackIconImageExtension.cs
  src/MahApps.Metro.IconPacks/PackIconKindToImageConverter.cs
  src/MahApps.Metro.IconPacks/Properties/MahApps.Metro.IconPacks.RadixIcons.rd.xml
  src/MahApps.Metro.IconPacks/Themes/UAP/IconPacks.xaml
  src/MahApps.Metro.IconPacks/Themes/UAP/PackIconRadixIcons.xaml
  src/MahApps.Metro.IconPacks/Themes/UAP/RadixIcons/Generic.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/IconPacks.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/PackIconControl.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/PackIconRadixIcons.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/RadixIcons/Generic.xaml
Labels: Icon Update

#235 Add Bootstrap Icons v1.0.0
  README.md
  src/MahApps.Metro.IconPacks.Browser/Styles/CustomTabControl.xaml
  src/MahApps.Metro.IconPacks.Browser/ViewModels/MainViewModel.cs
  src/MahApps.Metro.IconPacks.sln
  src/MahApps.Metro.IconPacks/Icons/BootstrapIcons/PackIconBootstrapIcons.cs
  src/MahApps.Metro.IconPacks/Icons/BootstrapIcons/PackIconBootstrapIconsDataFactory.cs
  src/MahApps.Metro.IconPacks/Icons/BootstrapIcons/PackIconBootstrapIconsExtension.cs
  src/MahApps.Metro.IconPacks/Icons/BootstrapIcons/PackIconBootstrapIconsImageExtension.cs
  src/MahApps.Metro.IconPacks/Icons/BootstrapIcons/PackIconBootstrapIconsKind.cs
  src/MahApps.Metro.IconPacks/Icons/BootstrapIcons/PackIconBootstrapIconsKindToImageConverter.cs
  src/MahApps.Metro.IconPacks/Icons/BootstrapIcons/PathIconBootstrapIcons.cs
  src/MahApps.Metro.IconPacks/MahApps.Metro.IconPacks.BootstrapIcons.csproj
  src/MahApps.Metro.IconPacks/MahApps.Metro.IconPacks.csproj
  src/MahApps.Metro.IconPacks/PackIconControlDataFactory.cs
  src/MahApps.Metro.IconPacks/PackIconExtension.cs
  src/MahApps.Metro.IconPacks/PackIconImageExtension.cs
  src/MahApps.Metro.IconPacks/PackIconKindToImageConverter.cs
  src/MahApps.Metro.IconPacks/Properties/MahApps.Metro.IconPacks.BootstrapIcons.rd.xml
  src/MahApps.Metro.IconPacks/Themes/UAP/BootstrapIcons/Generic.xaml
  src/MahApps.Metro.IconPacks/Themes/UAP/IconPacks.xaml
  src/MahApps.Metro.IconPacks/Themes/UAP/PackIconBootstrapIcons.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/BootstrapIcons/Generic.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/IconPacks.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/PackIconBootstrapIcons.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/PackIconControl.xaml
Labels: Icon Update

#236 Add Vaadin Icons v4.3.1
  README.md
  src/MahApps.Metro.IconPacks.Browser/Styles/CustomTabControl.xaml
  src/MahApps.Metro.IconPacks.Browser/ViewModels/MainViewModel.cs
  src/MahApps.Metro.IconPacks.sln
  src/MahApps.Metro.IconPacks/Icons/VaadinIcons/PackIconVaadinIcons.cs
  src/MahApps.Metro.IconPacks/Icons/VaadinIcons/PackIconVaadinIconsDataFactory.cs
  src/MahApps.Metro.IconPacks/Icons/VaadinIcons/PackIconVaadinIconsExtension.cs
  src/MahApps.Metro.IconPacks/Icons/VaadinIcons/PackIconVaadinIconsImageExtension.cs
  src/MahApps.Metro.IconPacks/Icons/VaadinIcons/PackIconVaadinIconsKind.cs
  src/MahApps.Metro.IconPacks/Icons/VaadinIcons/PackIconVaadinIconsKindToImageConverter.cs
  src/MahApps.Metro.IconPacks/Icons/VaadinIcons/PathIconVaadinIcons.cs
  src/MahApps.Metro.IconPacks/MahApps.Metro.IconPacks.VaadinIcons.csproj
  src/MahApps.Metro.IconPacks/MahApps.Metro.IconPacks.csproj
  src/MahApps.Metro.IconPacks/PackIconControlDataFactory.cs
  src/MahApps.Metro.IconPacks/PackIconExtension.cs
  src/MahApps.Metro.IconPacks/PackIconImageExtension.cs
  src/MahApps.Metro.IconPacks/PackIconKindToImageConverter.cs
  src/MahApps.Metro.IconPacks/Properties/MahApps.Metro.IconPacks.VaadinIcons.rd.xml
  src/MahApps.Metro.IconPacks/Themes/UAP/IconPacks.xaml
  src/MahApps.Metro.IconPacks/Themes/UAP/PackIconVaadinIcons.xaml
  src/MahApps.Metro.IconPacks/Themes/UAP/VaadinIcons/Generic.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/IconPacks.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/PackIconControl.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/PackIconVaadinIcons.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/VaadinIcons/Generic.xaml
Labels: Icon Update

#237 Add Codicons v0.0.12
  README.md
  src/MahApps.Metro.IconPacks.Browser/Styles/CustomTabControl.xaml
  src/MahApps.Metro.IconPacks.Browser/ViewModels/MainViewModel.cs
  src/MahApps.Metro.IconPacks.sln
  src/MahApps.Metro.IconPacks/Icons/BootstrapIcons/PackIconBootstrapIconsDataFactory.cs
  src/MahApps.Metro.IconPacks/Icons/Codicons/PackIconCodicons.cs
  src/MahApps.Metro.IconPacks/Icons/Codicons/PackIconCodiconsDataFactory.cs
  src/MahApps.Metro.IconPacks/Icons/Codicons/PackIconCodiconsExtension.cs
  src/MahApps.Metro.IconPacks/Icons/Codicons/PackIconCodiconsImageExtension.cs
  src/MahApps.Metro.IconPacks/Icons/Codicons/PackIconCodiconsKind.cs
  src/MahApps.Metro.IconPacks/Icons/Codicons/PackIconCodiconsKindToImageConverter.cs
  src/MahApps.Metro.IconPacks/Icons/Codicons/PathIconCodicons.cs
  src/MahApps.Metro.IconPacks/MahApps.Metro.IconPacks.Codicons.csproj
  src/MahApps.Metro.IconPacks/MahApps.Metro.IconPacks.csproj
  src/MahApps.Metro.IconPacks/PackIconControlDataFactory.cs
  src/MahApps.Metro.IconPacks/PackIconExtension.cs
  src/MahApps.Metro.IconPacks/PackIconImageExtension.cs
  src/MahApps.Metro.IconPacks/PackIconKindToImageConverter.cs
  src/MahApps.Metro.IconPacks/Properties/MahApps.Metro.IconPacks.Codicons.rd.xml
  src/MahApps.Metro.IconPacks/Themes/UAP/Codicons/Generic.xaml
  src/MahApps.Metro.IconPacks/Themes/UAP/IconPacks.xaml
  src/MahApps.Metro.IconPacks/Themes/UAP/PackIconCodicons.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/Codicons/Generic.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/IconPacks.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/PackIconCodicons.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/PackIconControl.xaml
Labels: Icon Update

#239 Add File Icons v2.1.43
  README.md
  src/MahApps.Metro.IconPacks.Browser/Styles/CustomTabControl.xaml
  src/MahApps.Metro.IconPacks.Browser/ViewModels/MainViewModel.cs
  src/MahApps.Metro.IconPacks.sln
  src/MahApps.Metro.IconPacks/Icons/FileIcons/PackIconFileIcons.cs
  src/MahApps.Metro.IconPacks/Icons/FileIcons/PackIconFileIconsDataFactory.cs
  src/MahApps.Metro.IconPacks/Icons/FileIcons/PackIconFileIconsExtension.cs
  src/MahApps.Metro.IconPacks/Icons/FileIcons/PackIconFileIconsImageExtension.cs
  src/MahApps.Metro.IconPacks/Icons/FileIcons/PackIconFileIconsKind.cs
  src/MahApps.Metro.IconPacks/Icons/FileIcons/PackIconFileIconsKindToImageConverter.cs
  src/MahApps.Metro.IconPacks/Icons/FileIcons/PathIconFileIcons.cs
  src/MahApps.Metro.IconPacks/MahApps.Metro.IconPacks.FileIcons.csproj
  src/MahApps.Metro.IconPacks/MahApps.Metro.IconPacks.csproj
  src/MahApps.Metro.IconPacks/PackIconControlDataFactory.cs
  src/MahApps.Metro.IconPacks/PackIconExtension.cs
  src/MahApps.Metro.IconPacks/PackIconImageExtension.cs
  src/MahApps.Metro.IconPacks/PackIconKindToImageConverter.cs
  src/MahApps.Metro.IconPacks/Properties/MahApps.Metro.IconPacks.FileIcons.rd.xml
  src/MahApps.Metro.IconPacks/Themes/UAP/FileIcons/Generic.xaml
  src/MahApps.Metro.IconPacks/Themes/UAP/IconPacks.xaml
  src/MahApps.Metro.IconPacks/Themes/UAP/PackIconFileIcons.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/FileIcons/Generic.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/IconPacks.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/PackIconControl.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/PackIconFileIcons.xaml
Labels: Icon Update

#240 Update Simple Icons to v3.11.0
  README.md
  src/MahApps.Metro.IconPacks/Icons/SimpleIcons/PackIconSimpleIconsDataFactory.cs
  src/MahApps.Metro.IconPacks/Icons/SimpleIcons/PackIconSimpleIconsKind.cs
Labels: Icon Update

#241 Add Fork Awesome v1.1.7
  README.md
  src/MahApps.Metro.IconPacks.Browser/Styles/CustomTabControl.xaml
  src/MahApps.Metro.IconPacks.Browser/ViewModels/MainViewModel.cs
  src/MahApps.Metro.IconPacks.sln
  src/MahApps.Metro.IconPacks/Icons/ForkAwesome/PackIconForkAwesome.cs
  src/MahApps.Metro.IconPacks/Icons/ForkAwesome/PackIconForkAwesomeDataFactory.cs
  src/MahApps.Metro.IconPacks/Icons/ForkAwesome/PackIconForkAwesomeExtension.cs
  src/MahApps.Metro.IconPacks/Icons/ForkAwesome/PackIconForkAwesomeImageExtension.cs
  src/MahApps.Metro.IconPacks/Icons/ForkAwesome/PackIconForkAwesomeKind.cs
  src/MahApps.Metro.IconPacks/Icons/ForkAwesome/PackIconForkAwesomeKindToImageConverter.cs
  src/MahApps.Metro.IconPacks/Icons/ForkAwesome/PathIconForkAwesome.cs
  src/MahApps.Metro.IconPacks/MahApps.Metro.IconPacks.ForkAwesome.csproj
  src/MahApps.Metro.IconPacks/MahApps.Metro.IconPacks.csproj
  src/MahApps.Metro.IconPacks/PackIconControlDataFactory.cs
  src/MahApps.Metro.IconPacks/PackIconExtension.cs
  src/MahApps.Metro.IconPacks/PackIconImageExtension.cs
  src/MahApps.Metro.IconPacks/PackIconKindToImageConverter.cs
  src/MahApps.Metro.IconPacks/Properties/MahApps.Metro.IconPacks.ForkAwesome.rd.xml
  src/MahApps.Metro.IconPacks/Themes/UAP/ForkAwesome/Generic.xaml
  src/MahApps.Metro.IconPacks/Themes/UAP/IconPacks.xaml
  src/MahApps.Metro.IconPacks/Themes/UAP/PackIconForkAwesome.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/ForkAwesome/Generic.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/IconPacks.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/PackIconControl.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/PackIconForkAwesome.xaml
Labels: Icon Update

#242 Add Fontaudio v1.1.0
  README.md
  src/MahApps.Metro.IconPacks.Browser/Styles/CustomTabControl.xaml
  src/MahApps.Metro.IconPacks.Browser/ViewModels/MainViewModel.cs
  src/MahApps.Metro.IconPacks.sln
  src/MahApps.Metro.IconPacks/Icons/Fontaudio/PackIconFontaudio.cs
  src/MahApps.Metro.IconPacks/Icons/Fontaudio/PackIconFontaudioDataFactory.cs
  src/MahApps.Metro.IconPacks/Icons/Fontaudio/PackIconFontaudioExtension.cs
  src/MahApps.Metro.IconPacks/Icons/Fontaudio/PackIconFontaudioImageExtension.cs
  src/MahApps.Metro.IconPacks/Icons/Fontaudio/PackIconFontaudioKind.cs
  src/MahApps.Metro.IconPacks/Icons/Fontaudio/PackIconFontaudioKindToImageConverter.cs
  src/MahApps.Metro.IconPacks/Icons/Fontaudio/PathIconFontaudio.cs
  src/MahApps.Metro.IconPacks/MahApps.Metro.IconPacks.Fontaudio.csproj
  src/MahApps.Metro.IconPacks/MahApps.Metro.IconPacks.csproj
  src/MahApps.Metro.IconPacks/PackIconControlDataFactory.cs
  src/MahApps.Metro.IconPacks/PackIconExtension.cs
  src/MahApps.Metro.IconPacks/PackIconImageExtension.cs
  src/MahApps.Metro.IconPacks/PackIconKindToImageConverter.cs
  src/MahApps.Metro.IconPacks/Properties/MahApps.Metro.IconPacks.Fontaudio.rd.xml
  src/MahApps.Metro.IconPacks/Themes/UAP/Fontaudio/Generic.xaml
  src/MahApps.Metro.IconPacks/Themes/UAP/IconPacks.xaml
  src/MahApps.Metro.IconPacks/Themes/UAP/PackIconFontaudio.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/Fontaudio/Generic.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/IconPacks.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/PackIconControl.xaml
  src/MahApps.Metro.IconPacks/Themes/WPF/PackIconFontaudio.xaml
Labels: Icon Update

#243 Add BoxIcons v2.0.7
  README.md
  src/MahApps.Metro.IconPacks.Browser/Styles/CustomTabControl.xaml
  src/MahApps.Metro.IconPacks/Icons/BoxIcons/PackIconBoxIconsDataFactory.cs
  src/MahApps.Metro.IconPacks/Icons/BoxIcons/PackIconBoxIconsKind.cs
Labels: Icon Update

#244 Add Jam Icons v3.0.0
  README.md
  src/MahApps.Metro.IconPacks/Icons/JamIcons/PackIconJamIconsDataFactory.cs
  src/MahApps.Metro.IconPacks/Icons/JamIcons/PackIconJamIconsKind.cs
Labels: Icon Update

#246 Add Material Design Icons v5.8.55
  README.md
  src/MahApps.Metro.IconPacks/Icons/Material/PackIconMaterialDataFactory.cs
  src/MahApps.Metro.IconPacks/Icons/Material/PackIconMaterialKind.cs
Labels: Icon Update

#247 Add Simple Icons v3.12.1
  README.md
  src/MahApps.Metro.IconPacks/Icons/SimpleIcons/PackIconSimpleIconsDataFactory.cs
  src/MahApps.Metro.IconPacks/Icons/SimpleIcons/PackIconSimpleIconsKind.cs
Labels: Icon Update

#248 Add Name to MetaData
  README.md
  src/MahApps.Metro.IconPacks.Core/Attributes/MetaDataAttribute.cs
  src/MahApps.Metro.IconPacks/Icons/BootstrapIcons/PackIconBootstrapIcons.cs
  src/MahApps.Metro.IconPacks/Icons/BootstrapIcons/PathIconBootstrapIcons.cs
  src/MahApps.Metro.IconPacks/Icons/BoxIcons/PackIconBoxIcons.cs
  src/MahApps.Metro.IconPacks/Icons/BoxIcons/PathIconBoxIcons.cs
  src/MahApps.Metro.IconPacks/Icons/Codicons/PackIconCodicons.cs
  src/MahApps.Metro.IconPacks/Icons/Codicons/PathIconCodicons.cs
  src/MahApps.Metro.IconPacks/Icons/Entypo/PackIconEntypo.cs
  src/MahApps.Metro.IconPacks/Icons/Entypo/PathIconEntypo.cs
  src/MahApps.Metro.IconPacks/Icons/EvaIcons/PackIconEvaIcons.cs
  src/MahApps.Metro.IconPacks/Icons/EvaIcons/PathIconEvaIcons.cs
  src/MahApps.Metro.IconPacks/Icons/FeatherIcons/PackIconFeatherIcons.cs
  src/MahApps.Metro.IconPacks/Icons/FileIcons/PackIconFileIcons.cs
  src/MahApps.Metro.IconPacks/Icons/FileIcons/PathIconFileIcons.cs
  src/MahApps.Metro.IconPacks/Icons/FontAwesome/PackIconFontAwesome.cs
  src/MahApps.Metro.IconPacks/Icons/FontAwesome/PathIconFontAwesome.cs
  src/MahApps.Metro.IconPacks/Icons/Fontaudio/PackIconFontaudio.cs
  src/MahApps.Metro.IconPacks/Icons/Fontaudio/PathIconFontaudio.cs
  src/MahApps.Metro.IconPacks/Icons/ForkAwesome/PackIconForkAwesome.cs
  src/MahApps.Metro.IconPacks/Icons/ForkAwesome/PathIconForkAwesome.cs
  src/MahApps.Metro.IconPacks/Icons/Ionicons/PackIconIonicons.cs
  src/MahApps.Metro.IconPacks/Icons/Ionicons/PathIconIonicons.cs
  src/MahApps.Metro.IconPacks/Icons/JamIcons/PackIconJamIcons.cs
  src/MahApps.Metro.IconPacks/Icons/JamIcons/PathIconJamIcons.cs
  src/MahApps.Metro.IconPacks/Icons/Material/PackIconMaterial.cs
  src/MahApps.Metro.IconPacks/Icons/Material/PathIconMaterial.cs
  src/MahApps.Metro.IconPacks/Icons/MaterialDesign/PackIconMaterialDesign.cs
  src/MahApps.Metro.IconPacks/Icons/MaterialDesign/PathIconMaterialDesign.cs
  src/MahApps.Metro.IconPacks/Icons/MaterialLight/PackIconMaterialLight.cs
  src/MahApps.Metro.IconPacks/Icons/MaterialLight/PathIconMaterialLight.cs
  src/MahApps.Metro.IconPacks/Icons/Microns/PackIconMicrons.cs
  src/MahApps.Metro.IconPacks/Icons/Microns/PathIconMicrons.cs
  src/MahApps.Metro.IconPacks/Icons/Modern/PackIconModern.cs
  src/MahApps.Metro.IconPacks/Icons/Modern/PathIconModern.cs
  src/MahApps.Metro.IconPacks/Icons/Octicons/PackIconOcticons.cs
  src/MahApps.Metro.IconPacks/Icons/Octicons/PathIconOcticons.cs
  src/MahApps.Metro.IconPacks/Icons/PicolIcons/PackIconPicolIcons.cs
  src/MahApps.Metro.IconPacks/Icons/PicolIcons/PathIconPicolIcons.cs
  src/MahApps.Metro.IconPacks/Icons/PixelartIcons/PackIconPixelartIcons.cs
  src/MahApps.Metro.IconPacks/Icons/PixelartIcons/PathIconPixelartIcons.cs
  src/MahApps.Metro.IconPacks/Icons/RPGAwesome/PackIconRPGAwesome.cs
  src/MahApps.Metro.IconPacks/Icons/RPGAwesome/PathIconRPGAwesome.cs
  src/MahApps.Metro.IconPacks/Icons/RadixIcons/PackIconRadixIcons.cs
  src/MahApps.Metro.IconPacks/Icons/RadixIcons/PathIconRadixIcons.cs
  src/MahApps.Metro.IconPacks/Icons/RemixIcon/PackIconRemixIcon.cs
  src/MahApps.Metro.IconPacks/Icons/RemixIcon/PathIconRemixIcon.cs
  src/MahApps.Metro.IconPacks/Icons/SimpleIcons/PackIconSimpleIcons.cs
  src/MahApps.Metro.IconPacks/Icons/SimpleIcons/PathIconSimpleIcons.cs
  src/MahApps.Metro.IconPacks/Icons/Typicons/PackIconTypicons.cs
  src/MahApps.Metro.IconPacks/Icons/Typicons/PathIconTypicons.cs
  src/MahApps.Metro.IconPacks/Icons/Unicons/PackIconUnicons.cs
  src/MahApps.Metro.IconPacks/Icons/Unicons/PathIconUnicons.cs
  src/MahApps.Metro.IconPacks/Icons/VaadinIcons/PackIconVaadinIcons.cs
  src/MahApps.Metro.IconPacks/Icons/VaadinIcons/PathIconVaadinIcons.cs
  src/MahApps.Metro.IconPacks/Icons/WeatherIcons/PackIconWeatherIcons.cs
  src/MahApps.Metro.IconPacks/Icons/WeatherIcons/PathIconWeatherIcons.cs
  src/MahApps.Metro.IconPacks/Icons/Zondicons/PackIconZondicons.cs
  src/MahApps.Metro.IconPacks/Icons/Zondicons/PathIconZondicons.cs
Labels: Feature

#249 Bootstrap Icons v1.1.0
  README.md
  src/MahApps.Metro.IconPacks/Icons/BootstrapIcons/PackIconBootstrapIconsDataFactory.cs
  src/MahApps.Metro.IconPacks/Icons/BootstrapIcons/PackIconBootstrapIconsKind.cs
Labels: Icon Update

#250 Pixelarticons v1.3.0
  README.md
  src/MahApps.Metro.IconPacks/Icons/PixelartIcons/PackIconPixelartIconsDataFactory.cs
  src/MahApps.Metro.IconPacks/Icons/PixelartIcons/PackIconPixelartIconsKind.cs
Labels: Icon Update
